---
layout: default
---
<div class="home">

   <section class="welcome-note">
       <h1>Hello,</h1>
       <h2>I'm a front end web developer, currently coding in <s>New York</s> Sydney <small><i>"mate"</i></small> for <a href="http://mentallyfriendly.com" target="_blank">Mentally Friendly</a>.</h2>
   </section>


   <div class="projects">
       <h1>Work</h1>
       <hr>
       <ul>
           {% assign posts = site.posts | sort: 'category' %}
           {% for post in posts %}
               <li class="animate-me">
                   <h2>
                      {% if post.link %}
                         <a href="{{post.link}}" target="_blank">{{post.title}}</a>
                      {% else %}
                         <a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a>
                      {% endif %}
                   </h2>
                   <small><i>{{post.cat-type}}</i></small>
               </li>
           {% endfor %}
       </ul>
   </div>

</div>
