---
layout: default
---
<div class="home">

  <section class="welcome-note">
    <h1>Hello,</h1>
    <h2>
      I'm a front end web developer, currently 
      <s>studying employed</s> freelancing
      in 
      <s>New York Sydney</s> 
      Canada for
      <s><a href="https://agency.sc/" target="_blank">Agency</a></s> 
      <s><a href="http://mentallyfriendly.com" target="_blank">Mentally Friendly</a></s> 
      <s><a href="https://www.southerncrossaustereo.com.au/" target="_blank">Southern Cross Austereo</a></s>
      <a href="https://nightjar.co/" target="_blank">Nightjar.</a>
    </h2>
  </section>

  <div class="projects">
    <h1 id="commercial">Commercial</h1>
    <hr>
    <ul>
      {% for post in site.posts %}
        {% if post.category == 'mf' and post.archive != true %}
        <li class="animate-me">
          <h2>
            {% if post.link %}
            <a href="{{post.link}}" target="_blank">{{post.title}}</a>
            {% else %}
            <a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a>
            {% endif %}
          </h2>
          <small>
            <i>{{post.details}}</i>
          </small>
        </li>
        {% endif%}
      {% endfor %}
    </ul>
  </div>

  <div class="projects">
    <h1 id="personal">Personal</h1>
    <hr>
    <ul>
      {% for post in site.posts %}
        {% if post.category == 'personal' and post.archive != true %}
        <li class="animate-me">
          <h2>
            {% if post.link %}
            <a href="{{post.link}}" target="_blank">{{post.title}}</a>
            {% else %}
            <a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a>
            {% endif %}
          </h2>
          <small><i>{{post.details}}</i></small>
        </li>
        {% endif%}
      {% endfor %}
    </ul>
  </div>

</div>
