body{
    transition: all 1s;
    h1, h2, h3, h4, h5{
        letter-spacing: -1px;
    }
    h1{
        small{
            display: block;
        }
    }
    &.night-time{
        background-color: $gray-dark;
        color: $gray-lighter;
        a{
            color: darken($gray-lighter, 27%);
        }
    }
    .side-colour{
        height: 100%;
        width: 15px;
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        will-change: background-color;
        display: none;
        opacity: 0.8;
        @media #{$media-sm}{
            display: block;
        }
    }
    .top-colour{
        height: 15px;
        width: 100vw;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        will-change: background-color;
        text-align: right;
        opacity: 0.8;
        @media #{$media-sm}{
            position: fixed;
            z-index: 2;
        }
    }
    #time{
        color: transparentize($white, 0.65);
        font-size: 14px;
        padding-right: 5px;
        position: relative;
        top: -2px;
    }
    #hex{
        @extend #time;
        transform: rotate(90deg);
        left: -2px;
    }
    label{
        font-weight: normal;
    }
    .snippet{
        margin-top: 40px;
    }
    .date{
        color: $gray;
        font-size: 13px;
        margin-bottom: 30px;
    }
    p{
        margin-bottom: 30px;
    }
    form{
        margin-top: 50px;
        -webkit-appearance: none;
        -moz-appearance: none;
        box-shadow: none;
    }
    .form-control{
        box-shadow: none;
    }
}
