header{
    ul{
        padding-left: 0px;
        padding-top: 15px;
        li{
            list-style: none;
            display: inline-block;
            padding-right: 10px;
        }
    }
}

.welcome-note{
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.projects{
    ul{
        padding-left: 0px;
        li{
            list-style: none;
        }
    }
}
