body{
    &.no-scroll{
        overflow: hidden;
    }
}
#welcome{
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 2;
    background-color: $white;
    h2{
        margin: 5px;
        &.indent{
            text-indent: 1.2em;
        }
    }
    input{
        border: 0px;
        width: 68px;
        background-color: $lightGray;
        &:focus{
            border: 0px;
            -webkit-appearance: none;
            outline: none;
        }
    }
    .content{
        @include vertical-align;
        width: 100%;
        padding: 15px;
        h1{
            font-family: $font-pacifico;
            transform: rotate(-18deg);
            margin-bottom: 35px;
            font-size: 3em;
        }
    }
}
