
//
// VARIABLES
//

// Colors
$blue: #4183C4;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$font-pacifico: 'Pacifico', cursive;
$font-chelsea-market: 'Chealsea Market', cursive;
$font-open-sans: 'Open Sans', cursive;
$font-raleway: 'Raleway', cursive;
